:root{
    --mainColor: #142850;
    --secondaryColor: #030637;
    --thirdColor: #27496D;

    --borderColor: #00A8CC;

    --mainText:white;
    --secondaryText: #EDEDED;
}

html, body{
    padding: 0;
    margin: 0;
    background-color: var(--mainColor);
    scroll-behavior: smooth;
}



h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}

p, li, span, label, a, button{
    color: var(--secondaryText);
    font-family: 'Baloo Bhaijaan 2', cursive;
}

input, textarea{
    width: 100%;
    background-color: var(--thirdColor);
    color: var(--secondaryText);
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 18px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    width: 50%;
    background-color: var(--borderColor);
    color: var(--mainText);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: var(--thirdColor);
}

p{
    font-size: 18px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: #bab7c1;
}

ul{
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px; margin: 0;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

canvas{
    background-color: var(--secondaryText);
    border-radius: 5px;
    height: 0px;
}

#tabla-probabilidad {
    font-family: 'Baloo Bhaijaan 2', cursive;
    border-collapse: collapse;
    width: 100%;
}

#tabla-probabilidad td, #tabla-probabilidad th {
    border: 1px solid var(--thirdColor);
    padding: 0px 4px;
}

#tabla-probabilidad tr:nth-child(odd){background-color: #EDEDED;}

#tabla-probabilidad tr:nth-child(even){background-color: #f2f2f2;}

#tabla-probabilidad tr:hover {background-color: #bab7c1;}

#tabla-probabilidad th {
    text-align: left;
    background-color: var(--borderColor);
    color: white;
}

.s1{
    overflow: auto;
}

.s2{
    padding: 0px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'left-column right-column'
    ;
}

.s3{
    padding: 0px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'left-column2 center-column right-column'
    ;
}

.left-column {
    grid-area: left-column;
}

.left-column2 {
    overflow: auto;
    grid-area: left-column2;
}

.center-column {
    grid-area: center-column;
}

.right-column {
    grid-area: right-column;
}

.main-container{
    width: 90%;
    margin: 0 auto;
}

.greeting-wrapper{
    justify-content: center;
    align-content: center;
    display: grid;
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: -1px -1px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 4px -1px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 4px -1px rgba(0,0,0,0.75);

    margin: 2%;
}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--thirdColor);
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#dot-1{
    background-color: #fc6058;
}
#dot-2{
    background-color: #fec02f;
}
#dot-3{
    background-color: #2aca3e;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    --webkit-box-shadow: -1px -1px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 4px -1px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 4px -1px rgba(0,0,0,0.75);
}

.main-content{
    padding: 30px;
}

.main-content2{
    padding: 15px;
}

footer {
    background-color: var(--secondaryColor);
    color: #fff;
    align-items: center;
    padding: 30px 10%;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    h1 { font-size: 40px;}

    .main-content{
        padding: 20px;
    }
}